#### 2.1.1 정수형 (int)

In [1]:
x = 1
type(x)

int

#### 2.2.2 실수형 (float)

In [2]:
x = 1.5
type(x)

float

In [4]:
# int + float = float
x = 1.
y = 1
type(x+y)

float

In [5]:
# floating point
x = .5 # 정수부분이 0이면 .5로 표현 가능
y = 1.2
z = 2.4
y+z

3.5999999999999996

In [6]:
# 숫자형 연산
x = 2
y = 3
print(x+y)
print(x-y)
print(x*y)
print(x**y)
print(x/y)
print(x//y)
print(y//x)
print(x%y)
print(y%x)
print(2-4*3)
print((2-4)*3)

5
-1
6
8
0.6666666666666666
0
1
2
1
-10
-6

#### 2.1.3 문자형 (string)

In [18]:
x = 'hello'
y = '1' 
print(type(x), type(y))

<class 'str'> <class 'str'>

In [17]:
"""
타입 바꾸기
: 문자형 -> 숫자형 : int()
: 숫자형 -> 문자형 : str()

"""
z = int(y)
print(type(z))
w = float(y)
print(type(w))

<class 'int'>
<class 'float'>

In [13]:
# 문자와 숫자를 연산하려면 동일한 타입으로 변경
x = 1
y = '2'
print(x + int(y))
print(str(x) + y)

3
12

In [19]:
# 문자형 연산
x1 = 'deep'
x2 = 'deep '
y = 'learning'

print(x1+y)
print(x2+y)
print(3*y)

deeplearning
deep learning
learninglearninglearning

In [20]:
# 문자형 인덱싱
print(y[1])
print(y[-1])
print(y[1:4])

e
g
ear

#### 2.1.4 부울형 (bool)

In [21]:
x = True
y = False
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [23]:
# bool 타입으로 결과 나타내기
y = 1.2
z = 2.4
y+z == 3.6

False

#### 2.1.5 출력문 (print)

- 기본적으로는 print() 괄호 안에 있는 내용 그대로 출력
- 여러 가지 출력 방법
    - f" "
    - " "
    - %.1f, %.2f
    - %d
    - %s

In [25]:
# 비교
a = 5
print("a")
print(a)

a
5

In [28]:
# f" "
a = 9
b = 10
print(f"I got {a} out of {b}")

I got 9 out of 10

In [31]:
# " "
a = 5
print("I am " + str(a) + " years old.")
print("I am", str(a), "years old.")

I am 5 years old.
I am 5 years old.

In [34]:
# %.1f, %.2f, %d, %s
a = 4
b = "cat"
c = 4.2123213

print(c)
print("%.1f" % (c))
print("%.2f" % (c))
print("%.4f" % (c))
print("%d, %s, %.1f" % (a, b, c))

4.2123213
4.2
4.21
4.2123
4, cat, 4.2

#### 2.1.6 라이브러리

In [37]:
import numpy
arr = numpy.array([1, 2, 3])
print(arr)
print(numpy.sum(arr))

[1 2 3]
6

In [38]:
# 부를 이름 간단하게
import numpy as np
arr = numpy.array([1, 2, 3])
print(np.sum(arr))

6

In [39]:
# 함수 앞에 .np 또는 .numpy 안붙이기
from numpy import array, sum
arr = array([1, 2, 3])
print(sum(arr))

6

In [40]:
# 다양한 라이브러리
import numpy as np
import torch
import sklearn
import tqdm
import pandas as pd