#### 🔎 2.2.1 리스트 (list)

##### **1️⃣ 리스트 print 해보기**

In [3]:
# 리스트 안에 숫자
list1 = [1, 2, 3, 4]
print(list1, type(list1))
print(list1[0], list1[1], list1[2], list1[1:3])

[1, 2, 3, 4] <class 'list'>
1 2 3 [2, 3]

In [6]:
# 리스트 안에 문자 (단, 당연히 "")
list2 = ['math', 'english']
print(list2[0])
print(list2[0][1])

math
a

In [7]:
# 리스트 안에 서로 다른 타입
list3 = [1, '2', [1, 2, 3]]
print(list3[2])

[1, 2, 3]

##### **2️⃣ 리스트 연산**

In [30]:
list4 = [1, 2, 3]
list5 = [4, 5]
print(list4 + list5)
print(list4 * 3)

[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [31]:
# append
list4.append(list5)
print(list4)

[1, 2, 3, [4, 5]]

In [32]:
# 빈 리스트로 대체
list4[-2:] = []
print(list4)

[1, 2]

In [33]:
# 다른 값으로 대체
a = [1, 2]
b = [0, 5]
c = [a, b]

print(c)
print(c[0][1])

c[0][1] = 10
print(c)

[[1, 2], [0, 5]]
2
[[1, 10], [0, 5]]

##### **3️⃣ 리스트 관련 함수**

In [35]:
# range(n)
a = range(10)
print(a)
print(sum(a))

range(0, 10)
45

In [36]:
# sorted()
b = [2, 10, 0, -2]
print(sorted(b))

[-2, 0, 2, 10]

In [39]:
# .index(값)
print(b.index(-2))

3

In [40]:
# len()
print(len(b))

4

--------------------------------------------------------------------------------------------------------

#### 🔎 2.2.2 튜플 (tuple)

In [43]:
a = (1, 2)
print(a, type(a))

(1, 2) <class 'tuple'>

In [44]:
a[0] = 4

TypeError: 'tuple' object does not support item assignment

In [46]:
# 리스트와 비슷한 연산 (+를 하면 두개의 튜플을 이어준다.)
a = (1, 2)
b = (0, (1, 4))
a+b

(1, 2, 0, (1, 4))

--------------------------------------------------------------------------------------------------------

#### 🔎 2.2.3 딕셔너리 (dict)

In [49]:
a = {"class" : ["deep learning", "machine learning"],
     "num_students" : [20, 40] }
print(a)
print(type(a))

{'class': ['deep learning', 'machine learning'], 'num_students': [20, 40]}
<class 'dict'>

In [57]:
# 원하는 key의 value 불러오기
print(a["class"])
print(a.get("class"))

['deep learning', 'machine learning']
['deep learning', 'machine learning']

In [51]:
# 새로운 key 생성
a["grade"] = ["A", "B", "C"]
print(a)

{'class': ['deep learning', 'machine learning'], 'num_students': [20, 40], 'grade': ['A', 'B', 'C']}

In [54]:
# key 목록 
print(a.keys())
print(list(a.keys()))

dict_keys(['class', 'num_students', 'grade'])
['class', 'num_students', 'grade']

In [55]:
# value만 얻고 싶을 때
print(a.values())

dict_values([['deep learning', 'machine learning'], [20, 40], ['A', 'B', 'C']])

In [56]:
# key, value 모두
print(a.items())

dict_items([('class', ['deep learning', 'machine learning']), ('num_students', [20, 40]), ('grade', ['A', 'B', 'C'])])

In [59]:
# get()
print(a.get("class"))

['deep learning', 'machine learning']

In [60]:
# in
print("class" in a)
print("njh" in a)

True
False